body{
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    font-family: 'Sigmar One', cursive;
    color: #141b0cd0;
    max-width: 2000px;
    
}
#title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    max-width: 2000px;
    background-color: #95d5b2;
    border-bottom: 3px solid black;
}
.pics{
    max-width: 2000px;
    height: 335px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8f3dc;
}

.pics>div{
margin: 15px;

    
}
.pics>div:active{
    background-color: #b7e4c7;
    
    transform: translateY(4px);
}
#game{
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    border-bottom: 5px solid black;
   max-width: 2000px;
   justify-items: center;
   grid-auto-columns: minmax(100px, auto);
   background-color: #95d5b2;

}
#game>div{
    width: 210px;
    height: 210px;

}

p{
    color: #1b4332;
    font-size: 20px;
   
}

button{
    font-family: 'Sigmar One', cursive;
    margin: 10px;
    padding: 15px 25px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #141b0cd0;
    background-color: #49996d;
    border: none;
    border-radius: 15px;
    
}
button:active{
      
    transform: translateY(4px);
}
h1{
    font-size: 45px;
}

h2{
    font-size: 35px;
   grid-column: 2; 
   grid-row: 4/3;
}
h3{
    font-size: 28px;
}
#pScore{
    grid-column: 1/2; 
    grid-row: 2/2;
}

#cScore{
    grid-column: 3/4; 
    grid-row: 3/2;
}
#cPic{
    grid-column: 3/4; 
    grid-row: 3/3;
}
#pPic{
    grid-column: 1/1; 
    grid-row: 3/3;
}
.Restart{
    background-color: #d8f3dc;
}
img{
color: green;
    width: 70% ;
    height: auto;
}
@media (max-width: 500px) {
h1{
    font-size: 15px;
}
h2{
    font-size: 12px;
}
h3{
    font-size: 10px;
}
button{
    font-size: 10px;
}
#game>div{
    width: 55px;
    height: 55px; 
}
img{
    width: 45px;
    height: 45px;
}
.pics{
    height: 430px;
}

}
